<!doctype html>
<html>
<head>
  <title>Super Cool Todolist</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Indie+Flower" rel="stylesheet">
</head>

<body>
  <h1>Welcome back to your Todolist!</h1>

  <form method="post" action="/new">
    <input type="text" name="new" class="new" placeholder="Enter a new todo here..."></input>
    <input type="submit" name="submit" value="Add todo">
  </form>

  <div class="incomplete-wrapper">
    <h3>Incomplete todos</h3>
    <ul>
      {{ #todos }}
        {{ ^completed }}
      <li>
        <p class="title-incomplete">{{ title }}</p>
        <form method="post" action="/completed/{{ id }}">
          <input type="submit" name="completed" value="Mark as complete">
        </form>
      </li>
        {{ /completed }}
      {{ /todos }}
    </ul>
  </div>

  <div class="completed-wrapper">
    <h3>Completed todos</h3>
    <ul>
      {{ #todos }}
      {{ #completed }}
      <li class="completed">
        <p>{{ title }}</p>
      </li>
        {{ /completed }}
      {{ /todos }}
    </ul>
  </div>

</body>

</html>
